# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\miamu\OneDrive\Desktop\Facultate\Semestrul4\MPP\Laboratoare\mpp-proiect-repository-claudiamunteanu\Lab6\Pb2-Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
